@font-face {
  font-family: "Days";
  src: url("../fonts/28_Days_Later.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bs-body-font-family: "Days"; /* Exemple de police */
}

html {
  font-family: "Days", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;

  &.image-header {
    background: url("../images/ah2r_cover.jpg");
    background-position: center 1250px;

    .title {
      color: red !important;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  z-index: 10;

  .blason {
    width: 80px;
    z-index: 10;
  }

  .title {
    margin-top: -40px;
    width: 250px;
  }
}

.flag-button {
  background: none;
  border: none;
}

.flags {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -40px;

  img {
    width: 30px;
    height: 30px;
  }
}

.catch-container {
  width: 100%;
  text-align: center;

  .catch-phrase {
    color: #dc0c08;
    font-size: 40px;
  }
}
.red {
  color: #dc0c08;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  gap: 0;
  font-family: "Fugaz One", sans-serif;
  text-transform: uppercase;
  font-size: 60px;

  .right-catchline {
    margin-left: -200px;
    margin-top: -370px;
  }

  .left-catchline {
    margin-right: -180px;
    margin-bottom: -230px;
  }

  .center {
    width: 100%;
    max-width: 1300px;
    min-width: 450px;
  }

  .image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      display: block;
      width: 100px;
      /* Ajustez la taille de l'image */
      height: auto;
      transition: all 0.3s ease;
      /* Transition douce pour l'effet hover */
    }

    &:hover img {
      content: url("../images/red-button-hover.png");
      /* Chemin vers la seconde image */
    }
  }
}

#real-fighting {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#virtual-fighting {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: fixed;
  bottom: 50px;
  left: 50px;

  a {
    text-decoration: none;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.navbar {
  font-family: "Fugaz One", sans-serif;
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-bottom: 30px !important;

  &.body-scrolled {
    background-color: #000;
  }

  .et-hero-tabs-container {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 10;
    height: 80px;
    margin: 0 auto; /* Centre l'élément dans la page */
    max-width: 1200px; /* Définir une largeur maximale */
    width: 100%; /* Prend 100% de la largeur disponible jusqu'à la valeur maximale */
    margin-top: -40px;

    .et-hero-tab {
      display: flex;
      flex-direction: column;

      img {
        margin-top: 10px;
      }
    }
  }

  &::after {
    left: 145px;
    bottom: 60px;
    content: "";
    position: absolute;
    width: calc(100% - 290px);
    border-bottom: 3px solid #bf0707;
    pointer-events: none;
    z-index: 0;
  }
}

.sub-navbar {
  position: fixed;
  width: 100%;
  top: 110px;
  z-index: 2;

  &.body-scrolled {
    background-color: #000;
  }

  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    font-family: "Fugaz One", sans-serif;
    margin-bottom: 15px;

    .sub-navbar-tab {
      text-transform: uppercase;
      color: #fff !important;
      text-decoration: none;
    }
  }
  &::after {
    left: 145px;
    top: 40px;
    content: "";
    position: absolute;
    width: calc(100% - 290px);
    border-bottom: 3px solid #bf0707;
    pointer-events: none;
    z-index: 0;
  }
}

.main-content {
  margin-top: 200px !important;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #000 !important;

  .main-text {
    font-family: "Fugaz One", sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;

    .title {
      font-size: 24px;
      text-transform: uppercase;
      margin: 10px 0;
    }
  }
}

//Mode mobile
@media screen and (max-width: 768px) {
  .center-container {
    height: calc(100vh - 400px);

    .catchline {
      display: none;
    }
  }

  .image-button {
    display: none;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  height: 100%;
  &:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.5s ease;
  }
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}

.ah2r {
  width: 100vw;
  height: 100vh;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.index {
    overflow: hidden;
  }
}

.mt-8 {
  margin-top: 60px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 50px;
}
.content {
  color: #fff;
  padding-bottom: 100px;

  .hero img {
    max-height: 600px; /* Hauteur désirée */
    width: 100%; /* Assure que l'image reste à la largeur du conteneur */
    object-fit: cover; /* Coupe l'image pour remplir le conteneur */
  }

  .intro-title {
    font-size: 24px;
    font-weight: 600;
  }
}

.vertical-separator {
  height: 42px; /* Hauteur du séparateur */
  width: 3px; /* Largeur fine pour un séparateur vertical */
  background-color: #fff; /* Couleur du séparateur (noir ici) */
  position: absolute;
  left: 450px;
  top: 25px;
}

.flags-choice {
  font-family: Arial;
  margin-right: 100px;

  button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0;

    &.selected {
      color: #bf0707;
    }
  }

  .flags-separator {
    height: 2px; /* Hauteur du séparateur */
    width: 25px; /* Largeur fine pour un séparateur vertical */
    background-color: #fff; /* Couleur du séparateur (noir ici) */
  }
}
