@font-face {
  font-family: "Days";
  src: url("../fonts/28_Days_Later.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-red-color: #dc0c08;
  --main-dark-color: #333;
  --navbar-scrolled-background-color: #000;
}
html {
  font-family: "Days", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-dark-color);
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  height: 100%;
}
.ah2r {
  width: 100vw;
  height: 100vh;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  font-family: "Fugaz One", sans-serif;
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-bottom: 30px !important;
  display: flex;
}
.navbar.body-scrolled {
  background-color: var(--navbar-scrolled-background-color);
}
.navbar .logo {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  z-index: 10;
}
.navbar .logo .blason {
  width: 80px;
  z-index: 10;
}
.navbar .logo .title {
  margin-top: -40px;
  width: 250px;
}
.navbar .et-hero-tabs-container {
  display: flex;
  flex: 2;
  position: relative;
  gap: 80px;
  z-index: 10;
  height: 80px;
  margin: 0 auto;
  margin-top: -40px;
}
.navbar .et-hero-tabs-container .et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  height: 100%;
}
.navbar .et-hero-tabs-container .et-hero-tab:hover {
  color: #fff;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.navbar .et-hero-tabs-container .et-hero-tab img {
  margin-top: 10px;
}
.navbar .flags {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -40px;
}
.navbar .flags img {
  width: 30px;
  height: 30px;
}
.navbar .flags .flags-choice {
  font-family: Arial;
  margin-right: 100px;
}
.navbar button {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0;
}
.navbar button.selected {
  color: #bf0707;
}
.navbar .flags-separator {
  height: 2px;
  width: 25px;
  background-color: #fff;
}
.navbar::after {
  left: 145px;
  bottom: 60px;
  content: "";
  position: absolute;
  width: calc(100% - 290px);
  border-bottom: 3px solid var(--main-red-color);
  pointer-events: none;
  z-index: 0;
}
.navbar .vertical-separator {
  height: 42px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  left: 450px;
  top: 25px;
}
#menuToggle {
  display: none;
  flex-direction: column;
  margin-top: -30px;
  margin-right: 70px;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 20;
}
#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 11;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle #mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 10;
  color: white;
  list-style: none;
  text-align: center;
  padding-top: 50px;
}
#menuToggle #mobile-menu li {
  padding: 10px 0;
  transition-delay: 2s;
}
#menuToggle #mobile-menu li a {
  color: #fff;
  text-decoration: none;
}
#menuToggle #menuToggle input:checked ~ ul {
  transform: none;
}
.sub-navbar {
  position: fixed;
  width: 100%;
  top: 110px;
  z-index: 2;
}
.sub-navbar.body-scrolled {
  background-color: #000;
}
.sub-navbar .sub-navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  font-family: "Fugaz One", sans-serif;
  margin-bottom: 15px;
}
.sub-navbar .sub-navbar-container .sub-navbar-tab {
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
}
.sub-navbar::after {
  left: 145px;
  top: 40px;
  content: "";
  position: absolute;
  width: calc(100% - 290px);
  border-bottom: 3px solid var(--main-red-color);
  pointer-events: none;
  z-index: 0;
}
.content {
  color: #fff;
}
.content .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0;
  font-family: "Fugaz One", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
.content .center-container .left-catchline {
  margin-right: -180px;
  margin-bottom: -230px;
}
.content .center-container .center {
  width: 100%;
  max-width: 1000px;
  min-width: 450px;
}
.content .center-container .right-catchline {
  margin-left: -200px;
  margin-top: -370px;
}
.content .go-down {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.content .black-background {
  background: #000;
  height: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content .black-background #who-are-we {
  font-family: "Fugaz One", sans-serif;
  background: url('../images/index-bg-2.png');
  background-size: 40% 80%;
  background-position: center;
  background-repeat: no-repeat;
  flex: 2;
  width: 80%;
  padding: 150px 0;
  margin: auto 10%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.content .black-background #who-are-we .title {
  text-align: center;
  color: var(--main-red-color);
  text-transform: uppercase;
  font-size: 30px;
}
.content .black-background #contact {
  font-family: "Fugaz One", sans-serif;
  flex: 2;
  margin: auto 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.content .black-background #contact .title {
  text-align: center;
  color: var(--main-red-color);
  text-transform: uppercase;
  font-size: 30px;
}
.content .black-background #contact .contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.content .black-background #contact .contact-content .right img {
  width: 100%;
}
.content .black-background .content-separator {
  align-self: center;
  height: 2px;
  width: 150px;
  background-color: var(--main-red-color);
  margin: 30px 0;
}
.content .main-content {
  margin-top: 200px !important;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #000 !important;
}
.content .main-content .main-text {
  font-family: "Fugaz One", sans-serif;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}
.content .main-content .main-text .title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 0;
}
.footer {
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.footer a {
  text-decoration: none;
}
.footer img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.footer img:hover {
  filter: brightness(0.8);
}
.mt-8 {
  margin-top: 60px;
}
.ml-5 {
  margin-left: 50px;
}
.mr-5 {
  margin-right: 50px;
}
.red {
  color: var(--main-red-color);
}
@media screen and (max-width: 576px) {
  .blason {
    display: none;
  }
  .navbar .logo {
    margin-left: 5px !important;
  }
  .navbar .logo .title {
    justify-content: start;
    margin-top: 0 !important;
  }
  .navbar #menuToggle {
    margin-top: 5px !important;
  }
  .navbar::after {
    bottom: 15px;
    left: 5px;
    width: calc(100% - 15px);
  }
  .content .center-container {
    flex-direction: column;
  }
  .content .center-container .right-catchline,
  .content .center-container .left-catchline {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .image-button {
    display: none;
  }
  #who-are-we {
    background-size: 40% 40% !important;
  }
}
@media screen and (max-width: 1035px) {
  .et-hero-tabs-container,
  .sub-navbar,
  .flags {
    display: none !important;
  }
  .navbar .logo {
    flex: 0;
  }
  .navbar .logo .title {
    display: flex !important;
  }
  .navbar #menuToggle {
    display: flex !important;
  }
  #contact .contact-content {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 1330px) and (min-width: 992px) {
  .navbar .logo {
    flex: 0;
  }
  .navbar .logo .title {
    display: none !important;
  }
  .navbar .vertical-separator {
    display: none !important;
  }
}
@media screen and (max-width: 1550px) {
  .vertical-separator {
    display: none !important;
  }
}
